h1 {
    color:red;
    font-size: 3rem;
}
.pastelitos{
    background:coral;
    background-position: right;
}

#section-1{
    background-image: url("../assets/oreomisu.jpeg");
    background-position: 20%;
    border-style: hidden;
    background-size: 10%;
    background-repeat: no-repeat;
    
}

#section-2{
    background-image: url("../assets/redvelvet.jpeg");
    background-size: 10%;
    background-position: 20%;
    background-repeat: no-repeat;
}

#section-3{
    background-image: url("../assets/vainilla.jpeg");
    background-size: 10%;
    background-position: 20%;
    background-repeat: no-repeat;
}

#section-4{
    background-image: url("../assets/maracuya.jpeg");
    background-size: 10%;
    background-position: 20%;
    background-repeat: no-repeat;
}